.buttonPadding {
  padding: 15px 0px 0px 0px;
}

.defaultFont {
  font-family: 'Yellowtail', cursive;
  font-size: 50px;
}

.buttonFontInfo {
  font-family: 'Yellowtail', cursive;
  font-size: 24px;
}

.buttonDeleteFontInfo {
  font-family: 'Yellowtail', cursive;
  font-size: 16px;
}

.listItems {
  font-size: 90px;
  font-family: 'Yellowtail', cursive;
}

.strikethrough {
  font-size: 30px;
  /*needs a color change*/
  text-decoration: line-through !important;
}

.noStrikethrough {
  font-size: 30px;
  /*needs a color change*/
  text-decoration: none;
}

body {
  background-color: #ffffff;
}

.listBackground {
  background-color: #faf283;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #7d84e6;
    line-height: 1em;
    font-size: 30px;
    font-stretch: expanded;
}

.offsetBorder{
  position: relative;
  display: inline;
  margin-left: 30px;
  border-left: 3px solid #ff0000;

}


.checkbox-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: ##0e1a86;
    color: #fff;
}

.checkbox-custom:focus + .checkbox-custom-label {
  outline: 1px solid #ddd; /* focus style */
}
